body {
    overflow-y: overlay;
}

a:focus {
    outline: 0;
}

.cabin {
    font-family: Cabin, sans-serif;
}

.loguetown {
    font-family: Loguetown, sans-serif;
}

.goodvibes {
    font-family: Good-Vibes, sans-serif;
}

.montserrat {
    font-family: Montserrat, sans-serif;
}

#tempBackImg {
    opacity: 0.7;
}

.layer {
    position: absolute;
    width: 100%;
}

.sea-grad {
    background-color: #b2ebf2;
}

.fw-img {
    width: 100%;
}

.bg-section {
    position: relative;
}

.abs-w-100 {
    position: absolute;
    width:100%;
    left: 0;
    top: 0;
}

#site-content-div {
    position: relative;
}

#layer-bg-devel,
#layer-bg-1 {
    position: absolute;
}

#layer-bg-2 {
    position: fixed;
}

#homepage-bg {
    position: absolute;
    top: 180px;
}

#gate-bg {
    position: absolute;
    left: 775px;
    width: 275px;
    top: 90px;
}

#clocktower-bg {
    position: absolute;
    left: 110px;
    width: 400px;
    top: 320px;
}

#planeman-bg {
    position: absolute;
    width: 280px;
    left: 175px;
    top: 160px;
}

#hero-container {
    position: relative;
    min-height: 56.25vw;
}

#star-events-container {
    position: relative;
    min-height: 56.25vw;


    display: flex;
    margin: 0 15vw;
}

#star-events-container * {
    /* display: inherit; */
    text-align: center;
}

#star-events-title {
    position: relative;

    font-family: Good-Vibes;
    font-size: 7rem;

    line-height: 7rem;

    color: #2d5f73;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#star-events-content-left,
#star-events-content-right
{
    font-family: Loguetown;
    font-size: 3rem;
    line-height: 7rem;
    color: #00897b;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    #star-events-container {
        flex-direction: column;
        /* height: auto; */
    }

    #star-events-title {
        order: 1;
    }

    #star-events-content-left {
        order: 2;
    }

    #star-events-content-right {
        order: 3;
    }

    #star-events-content-left,
    #star-events-content-right
    {
        flex: 1 1 auto;
    }
}

#events-container {
    position: relative;
    min-height: 56.25vw;


    display: flex;
    flex-direction: column;
    margin: 0 15vw;
    padding: 3vw 0;
}

#events-container * {
    /* display: inherit; */
    text-align: center;
}

#events-title {
    position: relative;

    font-family: Good-Vibes;
    font-size: 7rem;

    line-height: 7rem;

    color: #2d5f73;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#events-content
{
    font-family: Loguetown;
    font-size: 2.5rem;
    line-height: 7rem;
    /* flex: 1 1 0; */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0;
}

#events-content a {
    width: 33%;
    word-break: keep-all;
}

@media only screen and (max-width: 900px) {
    #events-container {

    }

    #events-content a {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    #events-content a {
        width: 100%;
    }
}

#hospitality-container {
    position: relative;
    min-height: 56.25vw;

    text-align: justify;

    font-family: Cabin;
    font-size: 1rem;
    font-weight: 500;
    /* display: flex; */
    /* margin: 0 9vw; */
}

.hosp-box {
    padding: 0 3vw;
}


.hosp-box-title {
    font-size: 3rem;
    font-family: Loguetown;
    text-align: center;

    color: #00897b;
}

.accom-register-btn:focus,
.accom-register-btn {
    cursor: pointer;
    text-decoration: none;
    color: #00897b;
    border: 1px solid #00897b;
    border-radius: 100vh;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 0.25rem 1.5rem;
}

.accom-register-btn:hover {
    text-decoration: none;
    background-color: #00897b;
    color: white;
}

#sponsors-container {
    position: relative;
    min-height: 56.25vw;

    /* display: flex; */
    /* margin: 0 15vw; */
}

.section-title {
    padding: 2rem 0;
    font-size: 7rem;
    line-height: 7rem;
    color: #2d5f73;
}


#gallery-container {
    position: relative;
    min-height: 56.25vw;
}

@media only screen and (max-width: 600px) {
    .section-mobile-vmargin {
        margin: 6rem 0;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 0.6em;
    }
}
