.sky-grad {
  background: linear-gradient(180deg, #BBDEFB, #FFFFFF); }

.full-height-container {
  height: 125vh;
  width: 100vw; }

.parallax img.rellax {
  position: absolute;
  top: 0;
  left: 0; }
.parallax img.logo {
  position: absolute;
  top: 0;
  left: 0; }

  .nav-child {
      margin: 12px;
  }

.my-nav {
    font-weight: 600;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  overflow: auto;
  left: 0;
  top: 0;
  height: 100%;
  bottom: 0; }
  @media only screen and (max-width: 768px) {
    .my-nav {
      transform: translateX(-100%); } }
  .my-nav a {
    text-decoration: none !important; }
    .my-nav a > div {
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: start;
      align-items: center;
      transition: 0.2s; }
      .my-nav a > div span {
        display: none;
        font-family: "Cabin", "sans-serif";
        padding: 8px;
        color: #4d4d4d; }
        @media only screen and (max-width: 768px) {
          .my-nav a > div span {
            display: inline; } }
      .my-nav a > div:hover span {
        color: #26a69a; }
  .my-nav:hover a div span {
    display: inline;
    text-decoration: none; }
  .my-nav a img {
    width: 36px;
    margin: 8px;
    opacity: 0.7;
    transition: 0.2s ease-out; }
    .my-nav a .navbar-instincts-img {
        width:24px;
        margin: 8px 14px;
    }
  .my-nav a:hover img {
    width: 48px;
    opacity: 1; }
    .my-nav a:hover .navbar-instincts-img {
        width: 36px;
    }

#nav-opener {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999; }
  @media only screen and (min-width: 768px) {
    #nav-opener {
      display: none; } }

#gallery {
  /* background: #b2ebf2 url(../assets/svgs/continents_america.svg); */
  /* background-repeat: no-repeat; */
   }
   #gallery-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  #gallery #showcase {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto 2rem auto; }
    @media only scren and (max-width: 768px) {
      #gallery #showcase {
        max-width: 100%; } }
  #gallery #thumbnails {
    width: 100%;
    max-width: 800px;
    overflow-x: scroll;
    display: flex; }
    #gallery #thumbnails::-webkit-scrollbar {
      display: none; }
    #gallery #thumbnails img {
      width: 60px;
      height: auto;
      margin: auto 8px; }

#contact {
  position: relative;
  justify-content: center;
  height: 100vh;
  /* background: #b2ebf2; */
  display: flex;
  color: white; }
  #contact h1 {
    font-family: 'Good-Vibes',sans-serif;
    font-size: 4em;
    color: #2d5f73; }
  #contact .bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
  #contact .copyright {
    position: absolute;
    bottom: 0px;
    color: black;
    text-align: center;
    left: 50%;
    transform: translateX(-50%); }
  #contact p img {
    margin: 8px; }

.airplane{
    animation:airanim 2s ease;
}

.animcloud{
    animation:cloudanim 2.7s ease-in-out alternate infinite;
}


.animcloud:nth-of-type(odd){
    animation-direction: alternate-reverse;
    animation-delay: 0.7s;
    animation-timing-function: ease;
}

#layer-bg-3.animcloud{
    animation-duration:1.9s;
}


.animboat1{
    transform-origin: 24.74% 0 0;
    animation: boatanim1 8s ease-in-out  infinite;
}

.animboat2{
    /*transform-origin: 24.74% 0 0;*/
    animation: boatanim2 2s ease-in-out alternate infinite;
}
.animboat3{
    /*transform-origin: 24.74% 0 0;*/
    animation: boatanim3 3.256s ease-in-out alternate infinite;
}

.animeagle{
    animation: eagleanim 15s linear infinite;
}


@keyframes boatanim1{
    0%{
        transform: scaleX(1) translate3d(90%, 0, 0);
    }

    49.99% {
        transform: scaleX(1) translate3d(0, 0, 0);
    }

    50% {
        transform: scaleX(-1) translate3d(0, 0, 0);
    }

    99.99%{
        transform: scaleX(-1) translate3d(-90%, 0, 0);
    }

    100% {
        transform: scaleX(1) translate3d(90%, 0, 0);
    }
}

@keyframes boatanim2{
    0%{
        left:15vh;
    }
    100%{
        top:0vh;
    }


}

@keyframes boatanim3{
    0%{
        left:-15vh;
    }
    100%{
        left:0vh;
    }


}

@keyframes airanim{
    0%{
        left:-100vh;
        top:100vh;
    }
    100%{
        top:0vh;
    }


}


@keyframes cloudanim{
    0%{
        left:10vh;
    }

    100%{
        left:0vh;
    }
}

@keyframes eagleanim{
    0%{
        transform:rotateZ(0deg);
    }

    100%{
        transform:rotateZ(359deg);
    }
}

