html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	color: inherit;
	text-decoration: none;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

.animate-top {
	-webkit-animation: top 0.4s;
	        animation: top 0.4s;
}

.animate-right {
	-webkit-animation: right 0.4s;
	        animation: right 0.4s;
}

.animate-left {
	-webkit-animation: left 0.4s;
	        animation: left 0.4s;
}

.animate-bottom {
	-webkit-animation: bottom 0.4s;
	        animation: bottom 0.4s;
}

.animate-opacity {
	-webkit-animation: opacity 0.4s;
	        animation: opacity 0.4s;
}

.animate-zoom {
	-webkit-animation: zoom 0.4s;
	        animation: zoom 0.4s;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

ul {
	margin: 0px;
}

.debug * {
	border: 2px dotted red;
}

.debug *:hover {
	border: 2px dashed yellow;
}

.rounded {
	border-radius: 5px;
}

.circle {
	border-radius: 50%;
}

.transparent {
	background-color: transparent;
}

.red {
	color: #f44336;
}

.bg-red {
	background-color: #f44336;
}

.border-red {
	border-color: #f44336;
}

.pink {
	color: #e91e63;
}

.bg-pink {
	background-color: #e91e63;
}

.border-pink {
	border-color: #e91e63;
}

.purple {
	color: #9c27b0;
}

.bg-purple {
	background-color: #9c27b0;
}

.border-purple {
	border-color: #9c27b0;
}

.deepPurple {
	color: #673Ab7;
}

.bg-deepPurple {
	background-color: #673Ab7;
}

.border-deepPurple {
	border-color: #673Ab7;
}

.inigo {
	color: #3f51b5;
}

.bg-inigo {
	background-color: #3f51b5;
}

.border-inigo {
	border-color: #3f51b5;
}

.blue {
	color: #2196f3;
}

.bg-blue {
	background-color: #2196f3;
}

.border-blue {
	border-color: #2196f3;
}

.lightBlue {
	color: #03a9f4;
}

.bg-lightBlue {
	background-color: #03a9f4;
}

.border-lightBlue {
	border-color: #03a9f4;
}

.cyan {
	color: #00bcd4;
}

.bg-cyan {
	background-color: #00bcd4;
}

.border-cyan {
	border-color: #00bcd4;
}

.teal {
	color: #009688;
}

.bg-teal {
	background-color: #009688;
}

.border-teal {
	border-color: #009688;
}

.green {
	color: #4caf50;
}

.bg-green {
	background-color: #4caf50;
}

.border-green {
	border-color: #4caf50;
}

.lightgreen {
	color: #8bc34a;
}

.bg-lightgreen {
	background-color: #8bc34a;
}

.border-lightgreen {
	border-color: #8bc34a;
}

.lime {
	color: #cddc39;
}

.bg-lime {
	background-color: #cddc39;
}

.border-lime {
	border-color: #cddc39;
}

.yellow {
	color: #ffeb3b;
}

.bg-yellow {
	background-color: #ffeb3b;
}

.border-yellow {
	border-color: #ffeb3b;
}

.amber {
	color: #ffc107;
}

.bg-amber {
	background-color: #ffc107;
}

.border-amber {
	border-color: #ffc107;
}

.orange {
	color: #ff9800;
}

.bg-orange {
	background-color: #ff9800;
}

.border-orange {
	border-color: #ff9800;
}

.brown {
	color: #795548;
}

.bg-brown {
	background-color: #795548;
}

.border-brown {
	border-color: #795548;
}

.grey {
	color: #9e9e9e;
}

.bg-grey {
	background-color: #9e9e9e;
}

.border-grey {
	border-color: #9e9e9e;
}

.blueGrey {
	color: #607d8b;
}

.bg-blueGrey {
	background-color: #607d8b;
}

.border-blueGrey {
	border-color: #607d8b;
}

.black {
	color: #000000;
}

.bg-black {
	background-color: #000000;
}

.border-black {
	border-color: #000000;
}

.white {
	color: #ffffff;
}

.bg-white {
	background-color: #ffffff;
}

.border-white {
	border-color: #ffffff;
}

.fluid {
	width: 100%;
}

.solid {
	width: auto;
}

.flex-0 {
	-webkit-box-flex: 0;
	    -ms-flex: 0;
	        flex: 0;
}

.flex-1 {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.flex-2 {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

.flex-3 {
	-webkit-box-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
}

.flex-4 {
	-webkit-box-flex: 4;
	    -ms-flex: 4;
	        flex: 4;
}

.flex-5 {
	-webkit-box-flex: 5;
	    -ms-flex: 5;
	        flex: 5;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

ul.no-style {
	list-style: none;
}

ul.no-padding {
	padding-left: 0px;
}

ul.inline li {
	display: inline;
}

.margin-0-0 {
	margin: 0px 0px;
}

.margin-0-8 {
	margin: 0px 8px;
}

.margin-0-16 {
	margin: 0px 16px;
}

.margin-0-24 {
	margin: 0px 24px;
}

.margin-0-32 {
	margin: 0px 32px;
}

.margin-8-0 {
	margin: 8px 0px;
}

.margin-8-8 {
	margin: 8px 8px;
}

.margin-8-16 {
	margin: 8px 16px;
}

.margin-8-24 {
	margin: 8px 24px;
}

.margin-8-32 {
	margin: 8px 32px;
}

.margin-16-0 {
	margin: 16px 0px;
}

.margin-16-8 {
	margin: 16px 8px;
}

.margin-16-16 {
	margin: 16px 16px;
}

.margin-16-24 {
	margin: 16px 24px;
}

.margin-16-32 {
	margin: 16px 32px;
}

.margin-24-0 {
	margin: 24px 0px;
}

.margin-24-8 {
	margin: 24px 8px;
}

.margin-24-16 {
	margin: 24px 16px;
}

.margin-24-24 {
	margin: 24px 24px;
}

.margin-24-32 {
	margin: 24px 32px;
}

.margin-32-0 {
	margin: 32px 0px;
}

.margin-32-8 {
	margin: 32px 8px;
}

.margin-32-16 {
	margin: 32px 16px;
}

.margin-32-24 {
	margin: 32px 24px;
}

.margin-32-32 {
	margin: 32px 32px;
}

.padding-0-0 {
	padding: 0px 0px;
}

.padding-0-8 {
	padding: 0px 8px;
}

.padding-0-16 {
	padding: 0px 16px;
}

.padding-0-24 {
	padding: 0px 24px;
}

.padding-0-32 {
	padding: 0px 32px;
}

.padding-8-0 {
	padding: 8px 0px;
}

.padding-8-8 {
	padding: 8px 8px;
}

.padding-8-16 {
	padding: 8px 16px;
}

.padding-8-24 {
	padding: 8px 24px;
}

.padding-8-32 {
	padding: 8px 32px;
}

.padding-16-0 {
	padding: 16px 0px;
}

.padding-16-8 {
	padding: 16px 8px;
}

.padding-16-16 {
	padding: 16px 16px;
}

.padding-16-24 {
	padding: 16px 24px;
}

.padding-16-32 {
	padding: 16px 32px;
}

.padding-24-0 {
	padding: 24px 0px;
}

.padding-24-8 {
	padding: 24px 8px;
}

.padding-24-16 {
	padding: 24px 16px;
}

.padding-24-24 {
	padding: 24px 24px;
}

.padding-24-32 {
	padding: 24px 32px;
}

.padding-32-0 {
	padding: 32px 0px;
}

.padding-32-8 {
	padding: 32px 8px;
}

.padding-32-16 {
	padding: 32px 16px;
}

.padding-32-24 {
	padding: 32px 24px;
}

.padding-32-32 {
	padding: 32px 32px;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.no-top-margin {
	margin-top: 0px;
}

.no-left-margin {
	margin-left: 0px;
}

.no-right-margin {
	margin-right: 0px;
}

.no-wrap {
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

.wrap-reverse {
	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
}

.multi-center {
	-ms-flex-line-pack: center;
	    align-content: center;
}

.multi-flex-start {
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.multi-flex-end {
	-ms-flex-line-pack: end;
	    align-content: flex-end;
}

.multi-stretch {
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
}

.multi-space-around {
	-ms-flex-line-pack: distribute;
	    align-content: space-around;
}

.multi-space-between {
	-ms-flex-line-pack: justify;
	    align-content: space-between;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.row,
.col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.row.x-center,
.centerify {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.row.y-center,
.centerify {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.row.x-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.row.y-end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.col.x-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.col.y-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.col.x-end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.col.y-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.space-around {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.space-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.stretch {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.span-1 {
	width: 8.33333%;
}

.span-2 {
	width: 16.66667%;
}

.span-3 {
	width: 25%;
}

.span-4 {
	width: 33.33333%;
}

.span-5 {
	width: 41.66667%;
}

.span-6 {
	width: 50%;
}

.span-7 {
	width: 58.33333%;
}

.span-8 {
	width: 66.66667%;
}

.span-9 {
	width: 75%;
}

.span-10 {
	width: 83.33333%;
}

.span-11 {
	width: 91.66667%;
}

.span-12 {
	width: 100%;
}

.transition {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.responsive {
	height: auto;
	width: 100%;
}

.hide {
	display: none;
}

.pointer {
	cursor: pointer;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media screen and (max-width: 768px) {

.m-rounded {
	border-radius: 5px;
}

.m-circle {
	border-radius: 50%;
}

.m-flex-0 {
	m-flex: 0;
}

.m-flex-1 {
	m-flex: 1;
}

.m-flex-2 {
	m-flex: 2;
}

.m-flex-3 {
	m-flex: 3;
}

.m-flex-4 {
	m-flex: 4;
}

.m-flex-5 {
	m-flex: 5;
}

.m-text-left {
	text-align: left;
}

.m-text-center {
	text-align: center;
}

.m-text-right {
	text-align: right;
}

.m-text-justify {
	text-align: justify;
}

.m-uppercase {
	text-transform: uppercase;
}

.m-lowercase {
	text-transform: lowercase;
}

.m-capitalize {
	text-transform: capitalize;
}

.m-margin-0-0 {
	margin: 0px 0px;
}

.m-margin-0-8 {
	margin: 0px 8px;
}

.m-margin-0-16 {
	margin: 0px 16px;
}

.m-margin-0-24 {
	margin: 0px 24px;
}

.m-margin-0-32 {
	margin: 0px 32px;
}

.m-margin-8-0 {
	margin: 8px 0px;
}

.m-margin-8-8 {
	margin: 8px 8px;
}

.m-margin-8-16 {
	margin: 8px 16px;
}

.m-margin-8-24 {
	margin: 8px 24px;
}

.m-margin-8-32 {
	margin: 8px 32px;
}

.m-margin-16-0 {
	margin: 16px 0px;
}

.m-margin-16-8 {
	margin: 16px 8px;
}

.m-margin-16-16 {
	margin: 16px 16px;
}

.m-margin-16-24 {
	margin: 16px 24px;
}

.m-margin-16-32 {
	margin: 16px 32px;
}

.m-margin-24-0 {
	margin: 24px 0px;
}

.m-margin-24-8 {
	margin: 24px 8px;
}

.m-margin-24-16 {
	margin: 24px 16px;
}

.m-margin-24-24 {
	margin: 24px 24px;
}

.m-margin-24-32 {
	margin: 24px 32px;
}

.m-margin-32-0 {
	margin: 32px 0px;
}

.m-margin-32-8 {
	margin: 32px 8px;
}

.m-margin-32-16 {
	margin: 32px 16px;
}

.m-margin-32-24 {
	margin: 32px 24px;
}

.m-margin-32-32 {
	margin: 32px 32px;
}

.m-padding-0-0 {
	padding: 0px 0px;
}

.m-padding-0-8 {
	padding: 0px 8px;
}

.m-padding-0-16 {
	padding: 0px 16px;
}

.m-padding-0-24 {
	padding: 0px 24px;
}

.m-padding-0-32 {
	padding: 0px 32px;
}

.m-padding-8-0 {
	padding: 8px 0px;
}

.m-padding-8-8 {
	padding: 8px 8px;
}

.m-padding-8-16 {
	padding: 8px 16px;
}

.m-padding-8-24 {
	padding: 8px 24px;
}

.m-padding-8-32 {
	padding: 8px 32px;
}

.m-padding-16-0 {
	padding: 16px 0px;
}

.m-padding-16-8 {
	padding: 16px 8px;
}

.m-padding-16-16 {
	padding: 16px 16px;
}

.m-padding-16-24 {
	padding: 16px 24px;
}

.m-padding-16-32 {
	padding: 16px 32px;
}

.m-padding-24-0 {
	padding: 24px 0px;
}

.m-padding-24-8 {
	padding: 24px 8px;
}

.m-padding-24-16 {
	padding: 24px 16px;
}

.m-padding-24-24 {
	padding: 24px 24px;
}

.m-padding-24-32 {
	padding: 24px 32px;
}

.m-padding-32-0 {
	padding: 32px 0px;
}

.m-padding-32-8 {
	padding: 32px 8px;
}

.m-padding-32-16 {
	padding: 32px 16px;
}

.m-padding-32-24 {
	padding: 32px 24px;
}

.m-padding-32-32 {
	padding: 32px 32px;
}

.m-no-wrap {
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

.m-wrap-reverse {
	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
}

.m-multi-center {
	-ms-flex-line-pack: center;
	    align-content: center;
}

.m-multi-flex-start {
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.m-multi-flex-end {
	-ms-flex-line-pack: end;
	    align-content: flex-end;
}

.m-multi-stretch {
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
}

.m-multi-space-around {
	-ms-flex-line-pack: distribute;
	    align-content: space-around;
}

.m-multi-space-between {
	-ms-flex-line-pack: justify;
	    align-content: space-between;
}

.m-relative {
	position: relative;
}

.m-absolute {
	position: absolute;
}

.m-fixed {
	position: fixed;
}

.m-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.m-row.m-x-center,
.m-centerify {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.m-row.m-y-center,
.m-centerify {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.m-row.m-x-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.m-row.m-y-end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.m-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.m-col.m-x-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.m-col.m-y-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.m-col.m-x-end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.m-col.m-y-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.m-space-around {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.m-space-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.m-stretch {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.m-span-1 {
	width: 8.33333%;
}

.m-span-2 {
	width: 16.66667%;
}

.m-span-3 {
	width: 25%;
}

.m-span-4 {
	width: 33.33333%;
}

.m-span-5 {
	width: 41.66667%;
}

.m-span-6 {
	width: 50%;
}

.m-span-7 {
	width: 58.33333%;
}

.m-span-8 {
	width: 66.66667%;
}

.m-span-9 {
	width: 75%;
}

.m-span-10 {
	width: 83.33333%;
}

.m-span-11 {
	width: 91.66667%;
}

.m-span-12 {
	width: 100%;
}

.m-rounded {
	border-radius: 5px;
}

.m-circle {
	border-radius: 50%;
}

.m-transition {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.desk {
	display: none;
}

}

@media only screen and (max-width: 768px) {

.m-fluid {
	width: 100%;
}

}

@keyframes top {

from {
	top: -300px;
	opacity: 0;
}

to {
	top: 0px;
	opacity: 1;
}

}

@-webkit-keyframes top {

from {
	top: -300px;
	opacity: 0;
}

to {
	top: 0px;
	opacity: 1;
}

}

@keyframes right {

from {
	right: -300px;
	opacity: 0;
}

to {
	right: 0px;
	opacity: 1;
}

}

@-webkit-keyframes right {

from {
	right: -300px;
	opacity: 0;
}

to {
	right: 0px;
	opacity: 1;
}

}

@keyframes left {

from {
	left: -300px;
	opacity: 0;
}

to {
	left: 0px;
	opacity: 1;
}

}

@-webkit-keyframes left {

from {
	left: -300px;
	opacity: 0;
}

to {
	left: 0px;
	opacity: 1;
}

}

@keyframes bottom {

from {
	bottom: -300px;
	opacity: 0;
}

to {
	bottom: 0px;
	opacity: 1;
}

}

@-webkit-keyframes bottom {

from {
	bottom: -300px;
	opacity: 0;
}

to {
	bottom: 0px;
	opacity: 1;
}

}

@keyframes opacity {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes opacity {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes zoom {

from {
	-webkit-transform: scale(0);
	        transform: scale(0);
	opacity: 0;
}

to {
	-webkit-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
}

}

@-webkit-keyframes zoom {

from {
	-webkit-transform: scale(0);
	        transform: scale(0);
	opacity: 0;
}

to {
	-webkit-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
}

}
